{% extends 'base.html' %}

{% block content %}
{% include 'partials/_menu.html'%}

    <h1> Hello wolrd </h1>

<form action=" {% url  'cliente:inde'%} ">
    <label for="nome" > Nome</label>
    <input type="text" placeholder="Nome" name="nome" id="nome">
    <label for="cpf_cnpj">CPF/CNPJ</label>
    <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00">
    <label for="tipo" >Tipo</label>
    <select name="tipo" id="tipo">
        <option selected> Escolha uma opção</option>
        <option selected value="F"> Física</option>
        <option selected value="J"> Jurídica</option>

    </select>
    <input type="submit" value="Enviar">
</form>
{%endblock%}