{% extends 'base.html' %}

{% block content %}
{% include 'partials/_menu.html'%}


<div class="container mx-auto">
    <ul>
        {% for cliente in cliente  %}
        <li>Nome:{{cliente.nome}} </li>

        <li>CPF/CNPJ:{{cliente.cpf_cnpj}} </CNPJ></li>
        {%endfor%}
    </ul>
    <form action="{ % url 'cliente:index'%} " method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <button> Enviar dados</button>
    </form>
</div>

{%endblock%}